@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .noise-before {
    @apply relative;
  }

  .noise-before::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1'/%3E%3C/svg%3E");
  }

  .blur-ball {
    @apply bg-[#DBB8F7] blur-[100px] rounded-full absolute;
  }

  .blur-ball--1 {
    @apply w-1/2 h-2/3 -rotate-45 -top-20 -left-1/4;
  }

  .blur-ball--2 {
    @apply w-1/2 h-2/5 -rotate-12 -top-16 left-24;
  }

  .blur-ball--3 {
    @apply size-1/3 -top-20 left-96 border-[16px] border-[#FFF859];
  }

  .section-container {
    @apply lg:w-[1024px] lg:py-20 z-9 md:w-[768px] md:py-16 w-[100%] px-6 py-12;
  }

  .section-title {
    @apply text-5xl text-white font-bold mb-16 text-center;
  }

  .section-item-wrapper {
    @apply flex items-center;
  }
}
