@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 1. 기본 상태 (라이트 모드) */
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: #f8f9fa;
  }

  /* 코드 블록 전체의 배경색을 제어하는 pre 태그 */
  pre[data-theme*=" "] {
    background-color: #f8f9fa;
    color: var(--shiki-light);
  }

  /* 2. 다크 모드 상태 (.dark 클래스가 상위 요소에 있을 때) */
  .dark code[data-theme*=" "],
  .dark code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }

  .dark pre[data-theme*=" "] {
    background-color: var(--shiki-dark-bg);
    color: var(--shiki-dark);
  }
}

@layer utilities {
  /* WebKit (Chrome, Edge, Safari) */
  .toc::-webkit-scrollbar {
    width: 2px;
    border-radius: 1px;
    background-color: #e7e9ec;
  }

  .toc::-webkit-scrollbar-thumb {
    background: #585858; /* gray-300 */
    border-radius: 9999px;
  }

  html.dark .toc::-webkit-scrollbar {
    background-color: #353535;
  }

  html.dark .toc::-webkit-scrollbar-thumb {
    background: #ececec; /* gray-600 (dark) */
  }

  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    padding: 8px 16px;
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }
}
