@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-weight: 500;
    scrollbar-color: rgba(160, 160, 160, 0.5) transparent;
  }

  :root {
    --eaeaea: #eaeaea;
    --header-size: 121px;
  }

  body {
    margin: 0;
    background-color: #ffff;
    color: #1a1a1a;
    letter-spacing: -1px;
  }

  ul,
  li {
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
    margin: 0;
  }

  ul > li {
    list-style: disc;
  }

  h2,
  p {
    margin: 0;
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
    font-size: 1.2rem;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: #242424;
  }

  input {
    cursor: text;
  }
}
