@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@layer base {
  html {
    font-weight: 500;
    scrollbar-color: rgba(160, 160, 160, 0.5) transparent;
  }

  :root {
    --eaeaea: #eaeaea;
    --header-size: 121px;
  }

  body {
    margin: 0;
    background-color: #ffff;
    color: #1a1a1a;
    letter-spacing: -1px;
  }

  ul,
  li {
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
    margin: 0;
  }

  ul > li {
    list-style: disc;
  }

  h2,
  p {
    margin: 0;
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
    font-size: 1.2rem;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: #242424;
  }

  input {
    cursor: text;
  }
}

@layer components {
  .shadow-custom-inset {
    --tw-shadow: inset 0 -1px 0 0 var(--eaeaea);
    --tw-shadow-colored: inset 0 -1px 0 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    opacity: 0; /* 초기엔 안 보이게 */
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1.5s; /* 2.5초 후에 실행 */
  }

  @keyframes fadeIn-project {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-project {
    visibility: hidden;
    animation: fadeIn-project 1s ease-out forwards;
    animation-delay: 2.5s; /* 2.5초 후에 실행 */
  }

  .content::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(43, 193, 188, 0.438);
    opacity: 0;
    z-index: 40;
    transition: opacity 0.35s ease-in-out;
  }

  .content:hover::before {
    opacity: 0.3;
  }

  .virtual::before {
    content: "";
    width: 2px;
    height: 100%;
    left: 50%;
    top: 34px;
    background-color: #d8d8d8;
    position: absolute;
  }

  .copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 부드러운 색상 변화 */
  }

  .copy-button:hover {
    background-color: #e5e7eb; /* 마우스 호버 시 색상 변경 */
  }

  .check-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #4caf50; /* 녹색 배경 */
    color: white; /* 텍스트 색은 흰색 */
    border-color: #45a049; /* 테두리 색 */
    font-size: 14px;
  }

  .CodeBlock {
    background: #f6f8fa !important;
  }

  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    padding: 45px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }

  @keyframes hoverEffect {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(200px);
    }
  }

  @keyframes after-cardEffect {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(200px);
    }
  }

  .ani:hover #project-card {
    animation: hoverEffect 2s ease-in-out;
  }

  .ani:hover #after-card {
    animation: after-cardEffect 2s ease-in-out;
  }
}

@layer utilities {
  .bg-box {
    @apply bg-neutral-50 dark:bg-neutral-800/40 border border-neutral-300 dark:border-neutral-700;
  }

  .tag-bg {
    @apply bg-white dark:bg-neutral-700/40 border border-neutral-300 dark:border-neutral-700;
  }

  .title-text {
    @apply text-black dark:text-white;
  }
}
